@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@700&family=Lavishly+Yours&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Rouge+Script&family=Tangerine:wght@400;700&display=swap");


.register{
    font-family: "Tangerine", serif;
    background-color: white;
    text-align: center;
}



